<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By"/>
        <add name="Access-Control-Allow-Origin" value="*"/>
        <add name="Access-Control-Allow-Headers" value="Content-Type"/>
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="n_webservice_posv5Soap"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.1.188:8022/webservice_posv5/n_webservice_posv5.asmx" 
                binding="basicHttpBinding" bindingConfiguration="n_webservice_posv5Soap" 
                contract="IPadVops.Service.n_webservice_posv5Soap" name="n_webservice_posv5Soap"/>
    </client>
  </system.serviceModel>
</configuration>